#clickBtn{
   background-color: black;
     justify-self: center;
    width: auto;
}
body{
    background-color: lightpink;
}
h1, h2{
    font-family: 'Franklin Gothic Medium' ;
    color: azure;
    text-align: center;
}
 p{
    font-family: 'Franklin Gothic Medium' ;
    color: azure;
}
body{
    display: grid;
}
#saveBtn{
    background-color:lightgreen;
    color: white;
    justify-self: center;
}
#loadBtn{
background-color:lightskyblue;
    color: white;
    justify-self: center;
}